{:paths   ["src"]
 :deps    {org.clojure/clojure                 {:mvn/version "1.12.3"}
           org.apache.commons/commons-compress {:mvn/version "1.28.0"}}
 :aliases {:dev  {:extra-paths ["test"]}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.09.22"}}
                  :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}}}
